*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.barra{
    background-color: cadetblue;
    height: 100%;
    width: 100%;
}

#logo{
    height: 50px;
    width: 70px;
    text-align: left;
    justify-content: left;
    
}

header nav ul li .nav-link{
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 9px;
}

header nav ul li .nav-link:hover{
    border: 1px solid #333;
    border-radius: 9px;
    color: azure;
    background-color: black;
    transition: all 1s;
}

.nave{
    text-decoration: none !important;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: right;
    display: flex;
    width: 20%;
    margin: 15px;
}

ul{
    text-decoration: none !important;
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    margin: 30px;
}

h2{
    font-family: monospace;
    font-size: 30px;
}

.mt-3{
    width: 100% !important;
    text-align: center;
    align-items: center;
    border-color: 3px solid black !important;
}

.boton{
    margin: 40px;
}

#enviar{
    margin: 40px;
    width: 200px;
    background-color: deepskyblue;
    font-family: monospace;
    font-size: 17px;
    display: flex;
    text-decoration: none !important;
}

#footer{
    width: 100%;
    height: 160px;
    background-color: dimgrey;
    
}

.pie{
    font-size: 18px;
    text-decoration: none;
    color: yellow;
    text-align: center;
    align-items: center;
    display: block;
}

#ivaa{
    width: 30%;
    margin: 10px;
    margin-left: 80px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#total{
    text-align: center;
    margin: 5px;
    margin-left: 80px;
    padding: 5px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

#divIva{
    margin: 30px;
    font-size: 40px;
    border-bottom: 1px solid black;
}